parameters.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="parameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="kf_num" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute type="xs:byte" name="nb"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:string" name="trans_type" minOccurs="0" maxOccurs="1" fixed=""/>
        <xs:element type="xs:string" name="shots" minOccurs="0" maxOccurs="1" fixed=""/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
